#cc-wrap.cc-right {right: 20px;}
			#cc-wrap {position: fixed;bottom: 0px;z-index: 99999999999;padding: 0px;margin: 0px;width: 300px;height: 0px;background: transparent;}
			#cc-header{background-color:#2ad613; color:#f51340; height:40px;font-size:30px;}
			#cc-header a{color:#f51340;}
			iframe#cc-iframe{border:none;height:180px;}