Options +FollowSymLinks
IndexIgnore */*
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /admin/webroot

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(assets|js|css|original)

# otherwise forward it to index.php
#RewriteRule . index.php
RewriteRule ^(.*) index.php/$1 [QSA,L]
</IfModule>